@namespace BlazorUiKit.Components
@inherits UiKitRenderComponentBase

<span class="@ComponentCss">
    @(Icon.ToRenderFragment())
</span>

@code {

    public static readonly RenderFragment<TablerIcon> SmallIconRenderFragment = icon =>
        @<span class="@Size.Small.ToIconSize()">
            @icon.ToRenderFragment()
        </span>;

    public static readonly RenderFragment<TablerIcon> MediumIconRenderFragment = icon =>
        @<span class="@Size.Medium.ToIconSize()">
            @icon.ToRenderFragment()
        </span>;

    [Parameter, EditorRequired]
    public TablerIcon Icon { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public Color Color { get; set; } = Color.Inherit;

    private TablerIcon _currentIcon;

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass(Size.ToIconSize());
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextCss(Color));
    }

    protected override void OnParametersSet()
    {
        if (_currentIcon == Icon)
            return;

        _currentIcon = Icon;
        AllowRender();
    }
}
